.blog__container {
  column-gap: 1.875rem;
  margin-bottom: 15px;
  flex-direction: row;
}

.blog__card {
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.blog__img {
  transform: scale(1);
  transition: 0.3s;
}

.blog__details {
  background-color: var(--container-color);
  padding: 1.25rem;
}

a {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
}

Shapes {
  position: relative;
  z-index: -1;
}