.box {
  background-color: var(--container-color);
  padding: 1.875rem;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  margin-top: 20px;
}

.over-box {
  align-items: center;
}

.about__img {
  /*width: 20%;  ขนาดของรูปภาพเต็ม container */
  height: auto; /* รักษาอัตราส่วนของรูปภาพ */
  display: block; /* ปรับขนาดรูปภาพภายใน container */
  margin: 0 auto; /* ทำให้รูปภาพอยู่ตรงกลางของ container */
}

/* จัดให้ข้อความเต็มกล่อง */
.about__description {
  margin-bottom: 1rem;
  text-align: justify;
}

.about__skills {
  row-gap: 1.25rem;
}

.skills__titles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
}

/* custom by myself */
.skills__name {
  font-size: 25px;
}
/* custom by myself */
.university_name {
  color: var(--text-color);
} 

